GOOGLE_CLOUD_PROJECT=google-cloud-project-id
GOOGLE_CLOUD_LOCATION=google-cloud-location
GOOGLE_GENAI_USE_VERTEXAI=google-genai-use-vertexai
IA_MODEL=google-genai-model-id
GOOGLE_API_KEY=google-api-key
DEBUG=debug-mode
DB_BACKEND=backend-type
FIRESTORE_PROJECT_ID=firestore-project-id